/*!
 * 
 * Angle - Bootstrap Admin App + AngularJS
 * 
 * Version: 3.0.0
 * Author: @themicon_co
 * Website: http://themicon.co
 * License: https://wrapbootstrap.com/help/licenses
 * 
 */

// Override bootstrap variables
@import "app/variables";

// Bootstrap
@import "bootstrap/bootstrap/_mixins";

// Global definition of media queries
@import "app/media-queries";
// Utilities 
@import "app/utils-definitions";

// Bootstrap reset
@import "app/bootstrap-reset";

// Typography
@import "app/typo";

// Layout
@import "app/layout";
@import "app/layout-extra";
@import "app/layout-animation";
@import "app/top-navbar";
@import "app/sidebar";
@import "app/offsidebar";


// Components
@import "app/preloader";
@import "app/breadcrumbs";
@import "app/loading-bar";
@import "app/animate";

// Utilities 
@import "app/utils";

// Print CSS
@import "app/print";


//Ace Editor
@import "app/ace";

//Iframe
@import "app/iframe";

//Graph
@import "app/graph-creator";

//Login
@import "app/login";

//Projects
@import "app/projects";

//Sign Up
@import "app/signup";

//Top-nav-bar
@import "app/top-nav-bar";

.white{
    color: #fff;
}

.primary {
    color: $kiraso-blue;
    background-color: #fff;
    border-color: $kiraso-blue;
}

.primary-active {
    color: #fff;
    background-color: $kiraso-blue;
    border-color: $kiraso-blue;
}

.main-background{
    background-image: url(../img/Fondo3.png);
}

.width{
    width: 350px;
}

.black{
    color: black;
}

.btn-section {
    padding: 10px;
}

.center {
    text-align:center;
}

.toolbar-wizard{
    display: inline-block; 
    padding:10px;
}

.btn-wizard{
    margin-left: 20px;
}

.toolbar-preview{
    display: inline-block; 
    padding:5px;
}

.btn-preview{
    margin-left: 30px;
}

.form-padding {
    padding: 10px;
}

.accordion-group-top{
    margin-top: 5px;
}

.icon-right{
    float: right;
}