div.modal-header
  h3.modal-title Add your resources
div.modal-body
    div(ng-controller="formsController") 
        p Your file must be on a zip / tar format
        form(name="myForm" id="myForm" enctype="multipart/form-data" ng-submit="uploadResources(resourcesFile)")
            input( type="file" name="resources" id="resources" file-model="resourcesFile")
            br
            button.btn.btn-success(id="addResources" type="submit") Add resources
    
div.modal-footer
  button.btn.btn-primary(type="button", ng-click="closeModal()") Close
 