div.modal-header
  h3.modal-title Confirm
div.modal-body
    p Make sure you save before leaving
    button.btn(ng-click="confirmChange()") Confirm
    button.btn.btn-primary(type="button", ng-click="closeModal()") Close
 