div.modal-header
  h3.modal-title Confirm
div.modal-body
    p The actual graph will be deleted, are you sure you want to continue?
    button.btn.btn-success(ng-click="confirmChange()") Confirm
    button.btn.btn-primary(type="button", ng-click="closeModal()") Close
 