div.modal-header
  h3.modal-title {{type}}
div.modal-body
  div(ng-repeat="url in images_url")
    img(src="{{url}}")
div.modal-footer
  button.btn.btn-primary(type="button", ng-click="closeModal()") OK
 