div.modal-header
  h3.modal-title New project
div.modal-body
    div(ng-controller="formsController")
        form.form-padding(name="modalApp", sf-schema="appSchema",sf-form="appForm",sf-model="appModelNew", ng-submit="submitApp(modalApp, true)")
    
div.modal-footer
  button.btn.btn-primary(type="button", ng-click="closeModal()") Close
 