div.aside-inner
  uib-accordion(close-others="oneAtATime")
    uib-accordion-group(heading="App Settings")
      div(ng-include="'app/views/partials/appForm.html'")

    uib-accordion-group(heading="Params")
      div(ng-include="'app/views/partials/paramsForm.html'")

    uib-accordion-group(heading="Data")
      div(ng-include="'app/views/partials/dataForm.html'")
      
 