div.aside-inner
  uib-accordion(close-others="oneAtATime")
    uib-accordion-group(heading="App Settings")
      div(ng-include="'app/views/partials/sideform.html'")

    uib-accordion-group(heading="Params")
      div(ng-include="'app/views/partials/sideform.html'")

    uib-accordion-group(heading="Data")
      div(ng-include="'app/views/partials/sideform.html'")
      
 