div#aceEditor.ace_editor(ui-ace="{useWrapMode : true,showGutter: true,mode: mode,theme: 'monokai',onLoad: aceLoaded,onChange: aceChanged}" ng-model="code") 

div.console(scroll="messages")
    #output(ng-repeat="message in messages track by $index")
        {{ message }}
  
      

