// top navbar
header.topnavbar-wrapper(ng-include="'app/views/partials/top-navbar.html'")

section.content-wrapper.content-wrapper-sect
    h2 Your projects
    button.btn.btn-primary(ng-click="newProject()") New project
    
    table(ng-repeat="project in projects")
        tr
            td.column-width
                a
                    h4(ng-click="loadProject(project)") {{ project }}
            td
                button.btn.btn-danger.icon-trash(ng-click="deleteProject(project)")


// Page footer
footer(ng-include="'app/views/partials/footer.html'")