div.aside-inner

  uib-tabset(Justified="true")
    uib-tab(heading="Apps&Comp")
        uib-accordion(close-others="oneAtATime")
          uib-accordion-group(heading="Prebuilt Apps")
            nav.sidebar(sidebar="")
              ul.nav
                li(ng-repeat='item in appItems')
                  {{item.name}}
        
          uib-accordion-group(heading="Components")
            nav.sidebar(sidebar="")
              ul.nav
                li(ng-repeat='item in compItems', ng-click="prueba(item)"){{item.name}}
                  span(style="float: right;") 
                    a
                      em.icon-eye
                    em.icon-doc
                    em.icon-settings

                li
                  div Create a component
                    span(style="float: right;") 
                      em.icon-note
                li
                  div Add your component
                    span(style="float: right;") 
                      em.icon-plus
    uib-tab(heading="Hierarchy")
      