div.aside-inner

  uib-tabset(Justified="true")
    uib-tab(heading="Apps&Comp")
        uib-accordion(close-others="oneAtATime")
          uib-accordion-group(heading="Prebuilt Apps")
            nav.sidebar(sidebar="")
              ul.nav
                li(ng-repeat='item in appItems')
                  {{item.name}}
        
          uib-accordion-group(heading="Components")
            nav.sidebar(sidebar="")
              ul.nav
                li(ng-repeat='item in compItems')
                  {{item.name}}
    uib-tab(heading="Hierarchy")
      div(ng-include="'app/views/partials/menubar.html'", ng-controller="SidebarController")