div.aside-inner
  uib-accordion(close-others="oneAtATime")
    uib-accordion-group(heading="Prebuilt Apps",style="margin-top: 5px;")
      nav.sidebar(sidebar="")
        ul.nav
          li(ng-repeat='item in appItems')
            span(ng-click="loadPbApp(item)") {{item.name}}
            span(style="float: right;") 
              a.icon-trash(ng-show="item.own", ng-click="removePrebuilt(item)")
              
    uib-accordion-group(heading="Components", style="margin-top: 10px;")
      nav.sidebar(sidebar="")
        ul.nav
          li(ng-repeat='item in compItems') 
            span(ng-click="createNode(item)") {{item.name}}
            span(style="float: right;") 
              a.icon-feed(ng-show="!item.own", href="{{item.url}}", target="_blank")
              a.icon-feed(ng-show="item.own", href="{{item.path}}", target="_blank")
              a.icon-trash(ng-show="item.own", ng-click="removeComp(item)")
          li
            div(ng-click="addComp()") Add your component
              span(style="float: right;") 
                em.icon-plus

      