div.aside-inner

  uib-tabset(Justified="true")
    uib-tab(heading="Apps&Comp")
        uib-accordion(close-others="oneAtATime")
          uib-accordion-group(heading="Prebuilt Apps")
            nav.sidebar(sidebar="")
              ul.nav
                li(ng-repeat='item in appItems')
                  {{item.name}}
                  span(style="float: right;") 
                    em.icon-magnifier
                    em.icon-magnifier
                    em.icon-magnifier


        
          uib-accordion-group(heading="Components")
            nav.sidebar(sidebar="")
              ul.nav
                li(ng-repeat='item in compItems')
                  {{item.name}}
                li
                  div Create a component
                    span(style="float: right;") 
                      em.icon-magnifier
                li
                  div Add your component
                    span(style="float: right;") 
                      em.icon-magnifier
    uib-tab(heading="Hierarchy")
      