// START Top Navbar
nav.navbar.topnavbar(role='navigation', style="background:#2ab24b;")
    // START navbar header
    .navbar-header
      a.navbar-brand(href='#/') 
        .brand-logo 
          img.img-responsive(src="app/img/Kiraso-01.png", alt="App Logo", style="width: 50%;")
      //-   .brand-logo-collapsed 
      //-     img.img-responsive(src="app/img/logo-single.png", alt="App Logo")
    // END navbar header
