doctype html
html(lang="en", data-ng-app="kiraso")

  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

    meta(name='description', content='{{app.description}}')
    meta(name='keywords', content='app, responsive, angular, bootstrap, dashboard, admin')

    title(data-ng-bind="::pageTitle()") Kiraso - Angular Bootstrap Admin Template
    // Bootstrap styles
    link(rel='stylesheet', href='app/css/bootstrap.css', data-ng-if="!app.layout.isRTL")
    link(rel='stylesheet', href='app/css/Bootstraptstrap-rtl.css', data-ng-if="app.layout.isRTL")
    // Application styles
    link(rel='stylesheet', href='app/css/app.css', data-ng-if="!app.layout.isRTL")
    link(rel='stylesheet', href='app/css/app-rtl.css', data-ng-if="app.layout.isRTL")
    // Themes
    link(rel='stylesheet', ng-href='{{app.layout.theme}}', data-ng-if="app.layout.theme")
    

  body(data-ng-class="{ 'layout-fixed' : app.layout.isFixed, 'aside-collapsed' : app.layout.isCollapsed, 'layout-boxed' : app.layout.isBoxed, 'layout-fs': app.useFullLayout, 'hidden-footer': app.hiddenFooter, 'layout-h': app.layout.horizontal, 'aside-float': app.layout.isFloat, 'offsidebar-open': app.offsidebarOpen, 'aside-toggled': app.asideToggled}" )

    div(data-preloader)

    .wrapper(data-ui-view="", data-autoscroll='false')

    script(src='app/js/base.js')
    script(src='app/js/app.js')
    //Ace
    script(type="text/javascript", src="bower_components/ace-builds/src-min-noconflict/ace.js")
    script(type="text/javascript", src="bower_components/angular/angular.js")
    script(type="text/javascript", src="bower_components/angular-ui-ace/ui-ace.js")
    
    //lodash
    script(type="text/javascript", src="bower_components/lodash/lodash.min.js")

    //Schema-Form
    script(type="text/javascript", src="bower_components/angular/angular.min.js")
    script(type="text/javascript", src="bower_components/angular-sanitize/angular-sanitize.min.js")
    script(type="text/javascript", src="bower_components/tv4/tv4.js")
    script(type="text/javascript", src="bower_components/objectpath/lib/ObjectPath.js")
    script(type="text/javascript", src="bower_components/angular-schema-form/dist/schema-form.js")
    script(type="text/javascript", src="bower_components/angular-ui-sortable/sortable.js")
    script(type="text/javascript", src="bower_components/angular-schema-form/dist/bootstrap-decorator.js")
    script(type="text/javascript", src="bower_components/angular-spectrum-colorpicker/dist/angular-spectrum-colorpicker.min.js")
    
    //graph
    script(src="//d3js.org/d3.v3.js", charset="utf-8")
    script(src="//cdn.jsdelivr.net/filesaver.js/0.1/FileSaver.min.js")
    //script(type="text/javascript", src="graph-creator.js")

    //- templates:js
    //- endinject
