.ace_editor { 
    height: 250px;
    width: 100%;
    padding:10px;  
}

.console {
    height: 250px; 
    overflow-y: scroll; 
    background-color: black; 
    padding: 20px; 
    color: #fff; 
    margin-top: 5px;   
}