
.top {
  width: 100%;
}

.sourceEditor { 
  width: 60%;
  float: left;
} 

.sourceCode {
  padding: 10px;
  box-sizing: border-box;
  margin-top: -1px;
}

.device {
  margin: auto;
  margin-top: 5px;
  height: 836px;
  background: url("/server/img/phone.png") no-repeat top;
}

#frame {
  border: none;
  height: 510px;
  width: 285px;
  margin-top: 108px;
  margin-left: 25px;
}