// top navbar
header.topnavbar-wrapper(ng-include="'app/views/partials/top-navbar.html'")

// sidebar
aside.aside(ng-include="'app/views/partials/sidebar.html'", ng-controller="SidebarController")

// offsidebar
aside.offsidebar(ui-view="offsidebar", autoscroll="false")

// Main section
section.has-sidebar-right

  // Page content
  .content-wrapper(ui-view="singleView", autoscroll="false", ng-class="app.viewAnimation")
  
// Page footer
footer(ng-include="'app/views/partials/footer.html'")

