// top navbar
header.topnavbar-wrapper(ng-include="'app/views/partials/top-navbar.html'")

// sidebar
aside.aside(ui-view="sidebar",autoscroll="true")

// offsidebar
aside.offsidebar(ui-view="offsidebar", autoscroll="false", ng-if="!previewActive")
aside.offsidebar(ng-include="'app/views/partials/offsidebar.html'", ng-if="previewActive")

// Main section
section.has-sidebar-right

  div
    div.btn-group.btn-group-justified.btn-section
        label.btn(ng-class="activeWizard?'primary-active':'primary'", ng-click="wizard()") Wizard
        label.btn(ng-class="activePreview?'primary-active':'primary'", ng-click="preview()") Preview


  // Wizard buttons
  div.center(ng-if="!previewActive")
    div.btn-toolbar.toolbar-wizard
      label.btn.btn-primary(ng-click="saveWizard()") Save
      label.btn.btn-primary.btn-wizard(ng-click="download()") Download
      label.btn.btn-primary.btn-wizard(ng-click="genApp()") Generate app

  // Preview and source buttons
  div.center(ng-if="previewActive")
    div.btn-toolbar.toolbar-preview
      label.btn.btn-primary(ng-click="save()") Save      
      label.btn.btn-primary.btn-preview(ng-click="addResources()") Add resources
      label.btn.btn-primary.btn-preview(ng-click="reload()") ReLoad
      label.btn.btn-primary.btn-preview(ng-click="runApp()") Run
      label.btn.btn-primary.btn-preview(ng-click="download()") Download
      label.btn.btn-primary.btn-preview(ng-click="genApp()") Generate app

  // Page content
  .content-wrapper(ui-view="view", autoscroll="false", ng-class="app.viewAnimation")


// Page footer
footer(ng-include="'app/views/partials/footer.html'")
