// top navbar
header.topnavbar-wrapper(ng-include="'app/views/partials/top-navbar.html'")

// sidebar
//aside.aside(ng-include="'app/views/partials/menubar.html'", ng-controller="SidebarController")

section

  // Page content
  .content-wrapper(ui-view="loginview", autoscroll="false", ng-class="app.viewAnimation")


// Page footer
footer(ng-include="'app/views/partials/footer.html'")

