div(ng-controller="formsController", style="background:#182f58; height: 350px; width: 400px;border-radius: 25px; padding: 5%; opacity: 0.7;")
    form(name="login" sf-schema="loginSchema",sf-form="loginForm",sf-model="loginModel", ng-submit="onSubmitLogin(login)", class="white")

