div(ng-controller="formsController", style="background:#182f58; height: 460px; width: 400px;border-radius: 25px; padding: 5%; opacity: 0.7")
    form(name="signup" sf-schema="signupSchema",sf-form="signupForm",sf-model="signupModel", ng-submit="onSubmitSignup(signup)", class="white")

