
div
    div.btn-group.btn-group-justified
        label.btn.btn-primary.active(ng-model="radioModel", uib-btn-radio="'Left'", checked="") Left
        label.btn.btn-primary(ng-model="radioModel", uib-btn-radio="'Middle'") Middle


//- .row
//-   .col-xs-12.text-center
//-     h2.text-thin Single view content
//-     p This project is an application skeleton. You can use it to quickly bootstrap your angular webapp projects and dev environment for these projects. 
//-       br 
//-       | The seed app doesn't do much and has most of the feature removed so you can add theme as per your needs just following the demo app examples.


div( ng-controller="Controller")
  div
    div
      div#aceEditor.ace_editor(ui-ace="{useWrapMode : true,showGutter: true,mode: 'html',theme: 'monokai',onLoad: aceLoaded,onChange: aceChanged}" ng-model="code")
        
